.dragging {
  opacity: 0.5;
}

.isDraggedOver {
}

.draggable-input.isDraggedOver {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid blue;
  }
}
