footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  a {
    color: white;
    transition: color 0.3s;
    &:hover {
      color: black;
    }
  }
}
