main {
  border: 1rem solid white;
  background-color: var(--kiogrey);
}

.upload {
  --_upload-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: var(--_upload-gap);

  &-form {
    overflow: hidden;
    background-color: white;
    max-width: calc(50% - var(--_upload-gap));

    input[type="file"] {
      padding: 1rem;
    }
  }
}
.draggable-input {
  padding: 0.75rem 0.5rem 0.5rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--primary);
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
  &-toggle-options {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.1rem 1rem;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover,
    &.active {
      background-color: var(--primary);
    }
  }
  &-options {
    position: absolute;
    top: 1.75rem;
    right: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    border: 4px solid white;
    border-top: none;
    border-right: none;
    background-color: var(--primary);

    button {
      padding: 0.5rem;
      background-color: transparent;
      border: none;
      color: black;
      transition: background-color 0.3s;
      border-top: 2px solid white;
      &:hover {
        background-color: white;
      }
      &:first-child {
        border-top: none;
      }
      &:disabled,
      [disabled] {
        color: black;
        background-color: var(--kiogrey-dark);
      }
    }
  }
}

.arrow {
  background-size: contain;
  min-width: 1rem;
  min-height: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &-top {
    background-image: url("/src/assets/img/arrow-last.svg");
  }
  &-up {
    background-image: url("/src/assets/img/arrow.svg");
  }
  &-last {
    background-image: url("/src/assets/img/arrow-last.svg");
    rotate: 180deg;
  }
  &-down {
    background-image: url("/src/assets/img/arrow.svg");
    rotate: 180deg;
  }
  &-delete {
    background-image: url("/src/assets/img/x.svg");
  }
}

.dropzone {
  border: 4px dashed var(--primary);
  background-color: var(--kiogrey);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.75rem 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  position: sticky;
  top: calc(var(--_sticky-top) * 3);
  min-height: 10rem;
  &.has-file-over-it {
    background-color: var(--kiogrey-dark);
  }
  input[type="file"] {
    display: none;
  }
  label {
    background-color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    display: block;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    &:hover {
      background-color: var(--primary);
      color: black;
    }
  }
}

.bundle-area {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  margin: 2rem 0;
}
.progress-info {
  max-width: max-content;
  min-width: 25rem;
  border: 4px solid white;
  padding: 1rem;
  background-color: var(--primary);
}

progress {
  height: 1rem;
  width: 100%;
  border: 4px solid white;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  position: relative;
  &::-webkit-progress-bar {
    background-color: white;
  }
  &::-webkit-progress-value {
    background-color: var(--primary);
  }
  &::-moz-progress-bar {
    background-color: var(--primary);
  }
  &::-ms-fill {
    background-color: var(--primary);
  }
}
