main {
  border: 1rem solid white;
  background-color: var(--kiogrey);
}

.upload {
  --_upload-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: var(--_upload-gap);

  &-form {
    overflow: hidden;
    background-color: white;
    max-width: calc(50% - var(--_upload-gap));

    input[type="file"] {
      padding: 1rem;
    }
  }
}
.draggable-input {
  padding: 0.75rem 0.5rem 0.5rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--primary);
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
  &-toggle-options {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.1rem 1rem;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover,
    &.active {
      background-color: var(--primary);
    }
  }
  &-options {
    position: absolute;
    top: 1.75rem;
    right: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    border: 4px solid white;
    border-top: none;
    border-right: none;
    background-color: var(--primary);

    button {
      padding: 0.5rem;
      background-color: transparent;
      border: none;
      color: black;
      transition: background-color 0.3s;
      border-top: 2px solid white;
      &:hover {
        background-color: white;
      }
      &:first-child {
        border-top: none;
      }
      &:disabled,
      [disabled] {
        color: black;
        background-color: var(--kiogrey-dark);
      }
    }
  }
}
