main {
  border: 1rem solid white;
  background-color: var(--kiogrey);
}

.upload {
  --_upload-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: var(--_upload-gap);

  &-form {
    overflow: hidden;
    background-color: white;
    max-width: calc(50% - var(--_upload-gap));

    input[type="file"] {
      padding: 1rem;
    }
  }
}
.draggable-input {
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--primary);
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}
