@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("ttf");
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  overflow: hidden;
}
a-scene {
  height: 100vh;
  width: 100vw;
}
.button-container {
  position: absolute;
  bottom: 1rem;
  z-index: 9;
  left: 0;
  min-height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #e6007e; /*#55fc27;*/
  color: white;
  border: 0.5rem solid white;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.button-container button:hover {
  background-color: #cd0070; /*#5b7d51;*/
  color: white;
}

.visible {
  display: flex;
  animation: fade-in 500ms ease;
}

.invisible {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#prev {
  border-radius: 100rem 0 0 100rem;
  border-right: 0.25rem solid white;
}
#next {
  border-radius: 0 100rem 100rem 0;
  border-left: 0.25rem solid white;
}

#play {
  border-radius: 100rem;
}
